/* Container principal */
.container {
    padding-top: 70px; /* Espaço extra para não sobrepor o header */
    margin-top: 30px;
    position: relative;
}

/* Centraliza o título */
.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Produtos */
.projetos {
    padding-block: 2.5rem;
    margin-top: 60px; /* Para evitar sobreposição com o header */
}

.projetos h2, .projetos h3 {
    text-align: center;
}

/* Espaço entre as seções de produtos */
.produtos {
    margin-bottom: 2rem;
}

/* Estiliza a lista de produtos */
.lista {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 1rem;
}

/* Campo de pesquisa sempre visível no topo */
.searchContainer {
    position: -webkit-sticky; /* Suporte para Safari */
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000; /* Para garantir que fique acima do restante do conteúdo */
    padding: 10px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ccc; /* Adiciona uma linha divisória para separar do conteúdo abaixo */
}

.searchInput {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Para centralizar o título "Últimos Produtos" */
.ultimosProdutos {
    text-align: center;
    margin: 2rem 0; /* Espaço acima e abaixo do título */
}

/* Container dos últimos produtos */
.ultimosProdutosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

/* Linha divisória */
.divider {
    margin: 2rem 0;
    border: 1px solid #ccc; /* Cor do separador */
}

/* Remover sublinhado de links em cards */
/* Ajustes para quando o card for clicável */

/* Últimos produtos */
.latest {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding-top: 80px; /* Espaço maior para acomodar o header fixo */
    }

    .lista, .latest {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Exibir 2 cards por linha */
        gap: 1rem;
    }

    .searchInput {
        width: 100%; /* O input se ajusta para 100% da largura em telas menores */
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .lista, .latest {
        grid-template-columns: 1fr; /* Exibir 1 card por linha em telas muito pequenas */
    }

    .searchInput {
        width: 100%; /* O campo de pesquisa ocupa toda a largura */
    }
}
