/* Container principal */
.container {
    padding-top: 70px;
    margin-top: 30px;
    position: relative;
}

/* Centraliza o título */
.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

/* Produtos */
.projetos {
    padding-block: 2.5rem;
    margin-top: 50px;
    
}

.projetos h2, .projetos h3 {
    text-align: center;
}

.produtos {
    margin-bottom: 2rem;
}

.cardContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-block: 1rem;
}

/* Campo de pesquisa sempre no topo da lista de produtos */
.searchContainer {
    display: flex;
    justify-content: flex-end; /* Alinha o campo à direita */
    position: fixed; /* Fixa o campo de pesquisa */
    top: 60px; /* Distância do topo da página */
    right: 20px; /* Distância da direita da página */
    z-index: 1000; /* Garante que fique acima de outros elementos */
    margin-bottom: 20px; /* Espaço entre a barra de pesquisa e os produtos */
}

.searchInput {
    padding: 10px;
    width: 300px; /* Largura do campo de pesquisa */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Últimos Produtos */
.ultimosProdutos {
    text-align: center;
    margin: 2rem 0;
}

.ultimosProdutosContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
}

.divider {
    margin: 2rem 0;
    border: 1px solid #ccc;
}

/* Estilo dos Cards */
.card {
    background-color: #f9f9f9;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 200px; /* Definindo uma largura máxima menor para o card */
    height: 300px; /* Definindo uma altura fixa */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.card img {
    max-height: 150px; /* Ajustando a altura máxima da imagem para que o card não fique muito comprido */
    object-fit: cover; /* Assegura que a imagem não fique distorcida */
}

.card h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
    white-space: nowrap; /* Não quebrar a linha */
    overflow: hidden;
    text-overflow: ellipsis; /* Truncar texto longo com "..." */
}

.card p {
    font-size: 0.875rem;
    margin: 0.25rem 0;
    color: #555;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card .price {
    font-weight: bold;
    margin: 0.5rem 0;
}

.card_footer {
    padding: 0.5rem;
    background-color: #fff;
    border-top: 1px solid #eee;
}

card, a{
    text-decoration: none;
}

.botao {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.botao:hover {
    background-color: #45a049;
}

/* Últimos produtos */
.latest {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}

/* Responsividade */
@media (max-width: 768px) {
    .container {
        padding-top: 80px;
    }

    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .searchInput {
        width: 100%;
        max-width: 300px;
    }
}

@media (max-width: 430px) {
    .cardContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
    }

    .searchInput {
        width: 100%;
    }
}
